<% include header.html %>
<div class="container text-center" style="margin-top: 100px">
    <h1><%= title %></h1>

    <div class="row text-center">
    	<form>
    		<div class="col-lg-6 col-lg-offset-3 text-center">
			    <div class="input-group">
			      	<input type="text" class="form-control">
			      	<span class="input-group-btn">
			        	<button class="btn btn-default" type="button">Go!</button>
			      	</span>
			    </div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
    	</form>
    </div>
</div>
<% include footer.html %>